.main-container{
    /* width: 60%; */
    
    margin-top: 20px;
/* width: 797px; */
margin-left: 200px;
}
.btn-box{
    padding-left:400px;
}
/* .container-box{
    
} */
 #font-style{
    font-size: 20px
 }
 .mini-box{
    width: 692px;
    position: relative;
    left: 200px;
/* margin-left: -290px;
   padding-right:100px; */
border: 1px solid;
/* width: 50%; */
 }
 .head{
border: 1px solid red;
 }
 #box-img{
width: 692px;
 }
 #views{
    border: 1px solid red;
    margin-left: 200px;
 }
 .btn{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    transition: border 0.5s ease-in-out;
 }
 .btn:hover{
border-style: none;
 }
 .btn2{
    border-radius: 8px 8px 8px 8px;
    transition: border 0.5s ease-in-out;
    color:  #02B875;

 }
 .btn2:hover{
    border-style: none;
 }